/* #cart {
    background-color: rgba(250, 235, 215, 0.492);
    font-family: Glass Antiqua;
}

#checkout button:hover {
    background-color: rgba(233, 145, 29, 0.542);
    color: rgb(160, 106, 106);
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    justify-content: center;
}

.cart-item {
    width: 25%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.cart-quantity {
    width: 20%;
}

.cart-item-title {
    color: white;
    margin-left: .5em;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-total {
    text-align: end;
    margin-top: 200px;
    margin-right: 325px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 130%;
    text-align: right;
}

.receipt {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: grey;
    font-family: Glass Antiqua;
}

.returnHome button:hover {
    background-color: rgba(233, 145, 29, 0.542);
    color: rgb(160, 106, 106);
    display: flex;
}

.returnHome button {
    padding: 2%;
    width: 200px;
    margin-left: 20px;
    border-radius: 20px;
    color: rgb(106, 79, 40);
    font-size: 150%;
    border-color: rgb(165, 86, 86);
    background-color: rgb(219, 178, 178);
}

.receipt h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    margin-top: 20px;
    width: 100%;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 10px;
    color: white;
    font-size: 1.2em;
    pointer-events: none;
}

.displayName {
    font-size: 1.5em;
    color: white;
    margin-left: 20px;
    font-family: Glass Antiqua;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.center{
display: flex;
justify-content: center;
}
#cartItems{
    width: fit-content;
    padding: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.receipt {
    width: fit-content;
    background-color: white;
    font-family: Glass Antiqua;
}

.receipt h1 {
    text-align: center;
    font-size: 3em;
    color: black;
    margin-top: 20px;
    width: 100%;
}
.details{
    text-align: center;
    font-size: 200%;
}

.returnHomeButton button {

    border-radius: 20px;
    color: rgb(106, 79, 40);
    font-size: 150%;
    border-color: rgb(165, 86, 86);
    background-color: rgb(219, 178, 178);
    font-family: Glass Antiqua;
}

.returnHomeButton button:hover {
    background-color: rgba(233, 145, 29, 0.542);
    color: rgb(160, 106, 106);
}

#displayName {
    /* text-align: right; */
    font-size: 1.5em;
    color: white;
    margin-left: 20px;
    font-family: Glass Antiqua;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}

.footer{
    height: auto;
    width: 100%;
    bottom: 0;
}